<!DOCTYPE html>
	<head>

		<link rel="stylesheet" href="/static/kitty_style.css">
	</head>

	<body>
		<div class="container">
			<div class="center">
				<!--video frame-->
				<video  class="center" width="640" height="480" controls>
					<source src="/static/output2.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
			<div class="center">
				<!--returning to main-->
				<a href="#" onclick="history.go(-1)"><button class = "center">Return</button></a>
			</div>
		</div>
	</body>

</html>